<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" position="left" [style]="{ width:'15em' }" [transitionOptions]="'200ms'">
  <h1 style="font-weight:normal">DataCov</h1>

  <!-- <div class="button">
    <a href="">Dashboard</a>
  </div> -->

  <div class="grid">

    <button class="col-12 p-button-primary" pButton
            type="button"
            (click)="goToDashboard()"
            label="Dashboard">
    </button>

    <button class="col-12 p-button-primary" pButton
            type="button"
            (click)="goToRegister()"
            label="Register">
    </button>

    <button class="col-12 p-button-primary" pButton
            type="button"
            (click)="goToLogin()"
            label="Login">
    </button>



  </div>

</p-sidebar>

<button pButton
        (click)="hideSideBar()"
        label="Hide">
</button>
